%form
  #series
    %div
      %input{ :type => "text", :class => "url", :value => "http://localhost:9292/demo/0.csv" }
      %input{ :type => "text", :class => "legend", :value => "Series 0" }
      %a{ :href => "#", :class => "remove" }Remove
          
    %div
      %input{ :type => "text", :class => "url", :value => "http://localhost:9292/demo/1.csv" }
      %input{ :type => "text", :class => "legend", :value => "Series 1" }
      %a{ :href => "#", :class => "remove" }Remove

    %div
      %input{ :type => "text", :class => "url", :value => "http://localhost:9292/demo/2.csv" }
      %input{ :type => "text", :class => "legend", :value => "Series 2" }
      %a{ :href => "#", :class => "remove" }Remove

    %div
      %input{ :type => "text", :class => "url", :value => "http://localhost:9292/demo/3.csv" }
      %input{ :type => "text", :class => "legend", :value => "Series 3" }
      %a{ :href => "#", :class => "remove" }Remove

    %div
      %input{ :type => "text", :class => "url", :value => "http://localhost:9292/demo/4.csv" }
      %input{ :type => "text", :class => "legend", :value => "Series 4" }
      %a{ :href => "#", :class => "remove" }Remove

  #controls

#chart