%html{:xmlns=> "http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang => "en"}
  %head
    %meta{'http-equiv' => "Content-Type", 'content' => "text/html; charset=utf-8"}
    %script{'src' => 'javascript/date-alpha1/date-2008-05-13.js' }
    %script{'src' => 'javascript/date-alpha1/time-2008-04-13.js'}
    %script{'src' => 'javascript/flot-0.6/jquery.js'}
    %script{'src' => 'javascript/flot-0.6/jquery.flot.js'}
    %script{'src' => 'javascript/csv-parser.js'}
    %script{'src' => 'javascript/plotter.js'}
    %script{'src' => 'javascript/controller.js'}
    %title Cruise Build Time Plotter
  %body
    = yield